<div class="form-group">
    <label for="Title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="Description">Description</label>
    <textarea name="description" id="description" class="form-control" maxlength="100"></textarea>
</div>
<div class="form-group">
    <label for="Content">Content</label>
    <textarea required name="body" id="body" class="form-control" style="height: 23rem;"></textarea>
</div>
<div class="form-group">
    <label for="Image">Add Image</label>
    <input required type="file" name="file" id="file1" class="form-control">
</div>
<button type="submit" class="btn btn-success">Save</button>
<a href="/homepage" class="btn btn-secondary">Cancel</a>