<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Homepage</title>
</head>
<body>
  <%- include('header',id); -%>
   <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form method="POST" onsubmit="return doComment(this);">
            <div class="form-group">
              <textarea class="form-control" rows="3" name="body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
<script>
  function doComment(form)
  {
    $.ajax({
      url:"/do-comment",
      method:"POST",
      data: { body:form.body.value, articleId:form.articleId.value},
      sucess: function(response){
        alert(response);
      }
    });
    return false;
  }
</script>
</div>
    <% comments.forEach(comment=>{ %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= comment.username %></h4>

                <div class="card-text mb-2">
                    <%= comment.body %>
                </div>
            </div>
        </div>
    <% }) %>

</body>
</html>