<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Registration Fail</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container">
        <div class="mb-3"></div>
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h1 class="card-title">Registration Error<h1>
                    <h4>Email Id already in use</h4>
                    <div class="mb-4"></div>
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
    </div>
    
</body>
</html>