<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Admin Homepage</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin/new">Add Admin<span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>

    <div class="container">
        <div class="mb-3">
        </div>
        <h1 class="mb-4">Admin Panel</h1>
        <h3 class="mb-4">User List</h5>

        <% users.forEach(user=>{ %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= user.name %></h4>
                    <div class="card-subtitle text-muted mb-1">
                        <p>
                            Id -<%= user.id %>
                        </p>
                    </div>
                    <div class="card-text mb-2">
                        <p>
                            Email -<%= user.email %>
                        </p>
                    </div>
                    <div>
                        <a href="/profile" class="btn btn-info">Profile</a>
                        <form action="/delete/<%= user.id %>" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                    </div>
                </div>
            </div>
        <% }) %>
        
        <div class="float-right">
            <a href="/login/logout" class="btn btn-secondary">Logout</a>
        </div>
        
    </div>
    
</body>
</html>